<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Alex Carroll | Portfolio</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <link href='https://fonts.googleapis.com/css?family=Arvo|Questrial' rel='stylesheet' type='text/css' />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <link href="favicon.ico" rel="icon" type="image/x-icon" title="" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1><span>Alex Carroll</span><img src="images/header_win.jpg" alt="Header Win"></h1>
        </header>
        <nav id="nav">
            <div id="mainNav-wrapper">
                <ul id="mainNav" role="navigation">
                    <li><a href="#content">Portfolio</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
            </div>
            <ul id="projectNav">
                <li><a href="#explore" class="expLink">Explore Target</a></li>
                <li><a href="#cartwheel" class="cwlLink">Cartwheel</a></li>
                <li><a href="#targetca" class="tcaLink">Target.ca</a></li>
                <li><a href="#diablomode" class="dmLink">Diablo Mode</a></li>
                <li><a href="#andrewschroeder" class="asLink">Andrew Schroeder</a></li>
            </ul>
        </nav>
        <div id="pushDiv"></div>
        <div id="content">
            <article id="explore" class="project">
                <section>
                    <h2>Explore Target</h2>
                    <div class="slider-controls">
                        <a class="prev" href="#">&laquo; previous</a>
                        <a class="next" href="#">next &raquo;</a>
                    </div>
                    <img src="/images/explore.jpg" class="projectImage" alt="Screenshot of explore.target.com">
                </section>
                <aside>
                    <h3>Details</h3>
                    <strong>Contributions:</strong> backbone.js, node.js, sass, underscore.js, content concepting, sprint planning, team processes
                    <p>
                        A simple thought of &rdquo;How should retail be done online?&ldquo; has evolved into a full blown application and product team that is not only redefining content, but also Target&rsquo;s web presence in the future.
                    </p>
                    <a href="http://explore.target.com" class="liveLink" target="_blank">view live</a>

                    <div class="code-images">
                        <a href="images/explore-mobile.jpg"><img src="images/explore-mobile.jpg" alt="explore mobile view"></a>
                        <a href="images/explore-faribault.jpg"><img src="images/explore-faribault.jpg" alt="explore faribault"></a>
                        <a href="images/explore-faribault-mobile.jpg"><img src="/images/explore-faribault-mobile.jpg" alt="explore faribault mobile view"></a>
                        <a href="images/explore.jpg"><img src="/images/explore.jpg" class="projectImage" alt="Screenshot of explore.target.com"></a>
                    </div>
                </aside>
            </article>
            <article id="cartwheel" class="project">
                <section>
                    <h2>Cartwheel</h2>
                    <div class="slider-controls">
                        <a class="prev" href="#">&laquo; previous</a>
                        <a class="next" href="#">next &raquo;</a>
                    </div>
                    <img src="/images/cartwheel.jpg" class="projectImage" alt="Screenshot of cartwheel.target.com">
                </section>
                <aside>
                    <h3>Details</h3>
                    <strong>Contributions:</strong> JSP/JSTL, html, css, javascript, agile methodology, story pointing, task assignment
                    <p>
                        What started as a simple idea to give fans of Target&rsquo;s facebook page discounted prices turned in to one of the most robust customer facing applications in the retail industry. Millions of users later, the project has been a much larger success than we ever imagined.
                    </p>
                    <a href="http://cartwheel.target.com" class="liveLink" target="_blank">view live</a>

                    <div class="code-images">
                        <a href="images/cartwheel-mobile.jpg"><img src="images/cartwheel-mobile.jpg" alt="cartwheel mobile view"></a>
                        <a href="images/cartwheel-baby.jpg"><img src="images/cartwheel-baby.jpg" alt="cartwheel browse"></a>
                        <a href="images/cartwheel-baby-mobile.jpg"><img src="/images/cartwheel-baby-mobile.jpg" alt="cartwheel browse mobile view"></a>
                        <a href="images/cartwheel.jpg"><img src="/images/cartwheel.jpg" class="projectImage" alt="Screenshot of cartwheel.target.com"></a>
                    </div>
                </aside>
            </article>
            <article id="targetca" class="project">
                <section>
                    <h2>Target.ca</h2>
                    <div class="slider-controls">
                        <a class="prev" href="#">&laquo; previous</a>
                        <a class="next" href="#">next &raquo;</a>
                    </div>
                    <img src="/images/targetca.jpg" class="projectImage" alt="Screenshot of www.target.ca">
                </section>
                <aside>
                    <h3>Details</h3>
                    <strong>Contributions:</strong> Custom multi-language framework, akamai integration, server infrastructure, bing api, development infrustracture, javascript, less, php, deployment scripts in capistrano, source control management
                    <p>
                        When Target opened the stores in Canada it was our team that was tasked to design and build the fully-responsive website. I set up the server infrastructure behind a load balancer and set up the main frameworks in php and javascript.
                    </p>
                    <a href="http://www.target.ca" class="liveLink" target="_blank">view live</a>

                    <div class="code-images">
                        <a href="images/targetca-mobile.jpg"><img src="images/targetca-mobile.jpg" alt="target.ca mobile view"></a>
                        <a href="images/targetca-sl.jpg"><img src="images/targetca-sl.jpg" alt="target.ca store locator"></a>
                        <a href="images/targetca-sl-mobile.jpg"><img src="/images/targetca-sl-mobile.jpg" alt="target.ca store locator mobile view"></a>
                        <a href="images/targetca.jpg"><img src="/images/targetca.jpg" class="projectImage" alt="Screenshot of www.target.ca"></a>
                    </div>
                </aside>
            </article>
            <article id="diablomode" class="project">
                <section>
                    <h2>Diablo Mode</h2>
                    <div class="slider-controls">
                        <a class="prev" href="#">&laquo; previous</a>
                        <a class="next" href="#">next &raquo;</a>
                    </div>
                    <img src="/images/diablomode.png" class="projectImage" alt="Screenshot of Diablo Mode's website.">
                </section>
                <aside>
                    <h3>Details</h3>
                    <strong>Contributions:</strong> HTML, CSS, PHP, WordPress, JavaScript, MooTools
                    <p>
                        Diablo Mode is an Australian artist that produces sculptures made of all natural materials. Working from a style guide, I built this website using WordPress and elbow grease. This website required some clever tricks with JavaScript and PHP in order to get the gallery to work without using third-party plug-ins.
                    </p>
                    <a href="http://www.diablomode.com" class="liveLink" target="_blank">view live</a>

                    <div class="code-images">
                        <a href="images/diablomodecode1.png"><img src="images/diablomodecode1.png" alt="Diablomodecode1"></a>
                        <a href="images/diablomodecode2.png"><img src="images/diablomodecode2.png" alt="Diablomodecode2"></a>
                        <a href="images/diablomode.png"><img src="/images/diablomode.png" alt="Screenshot of Diablo Mode's website."></a>
                    </div>
                </aside>
            </article>
            <article id="andrewschroeder" class="project">
                <section>
                    <h2>Andrew Schroeder</h2>
                    <div class="slider-controls">
                        <a class="prev" href="#">&laquo; previous</a>
                        <a class="next" href="#">next &raquo;</a>
                    </div>
                    <img src="/images/andrewschroeder.png" class="projectImage" alt="Andrewschroeder">
                </section>
                <aside>
                    <h3>Details</h3>
                    <strong>Contributions:</strong> UX / IA, Design, HTML, CSS, JavaScript, WordPress, PHP
                    <p>
                        Local artist Andrew Schroeder was in need of a WordPress theme that was custom tailored to his desires and needs. With some artistic guidance and inspiration that Mr. Schroeder sent, I designed and built a minimal theme that suited his needs and artistic style.
                    </p>
                    <a href="http://www.andrewschroeder.net" class="liveLink" target="_blank">view live</a>
                    <div class="code-images">
                        <a href="/images/andrewschroedercode1.png"><img src="/images/andrewschroedercode1.png" alt="Andrewschrpedercode1"></a>
                        <a href="/images/andrewschroeder.png"><img src="/images/andrewschroeder.png" alt="Andrewschroeder"></a>
                    </div>
                </aside>
            </article>
        </div>
        <footer>
            <section id="about">
                <h2>About Alex Carroll</h2>
                <p>Understanding how people interact with electronic interfaces is a passion of mine; from the most mundane to the highly interactive, they all interest me. As a web developer, I draw inspiration from code that is treated equally important as design.</p>
                <p>alexcarroll.mn@gmail.com | +1 (651) 428-5298</p>
                <!--
                <ul>
                    <li><a href="http://www.twitter.com/#!/alexcarrollmn">@alexcarrollmn</a></li>
                    <li><a href="http://www.linkedin.com/pub/alex-carroll/8/4ba/588">LinkedIn</a></li>
                    <li><a href="https://github.com/alexcarrollmn">Github</a></li>
                </ul>
            -->
        </section>
    </footer>
</div>
<script src="js/application.js" type="text/javascript" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
</body>
</html>
