<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Alex Carroll | Portfolio</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <link href='https://fonts.googleapis.com/css?family=Arvo|Questrial' rel='stylesheet' type='text/css' />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1><span>Alex Carroll</span><img src="images/header_win.jpg" alt="Header Win"></h1>
        </header>
        <nav id="nav">
            <div id="mainNav-wrapper">
                <ul id="mainNav" role="navigation">
                    <li><a href="#content">Portfolio</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="https://github.com/alexcarrollmn/resume/" target="_blank">Resume</a></li>
                </ul>
            </div>
            <ul id="projectNav">
                <li><a href="#dataviz" class="expLink">DataViz</a></li>
                <li><a href="#profiles" class="expLink">People Profiles</a></li>
                <li><a href="#explore" class="expLink">Explore Target</a></li>
                <li><a href="#cartwheel" class="cwlLink">Cartwheel</a></li>
                <li><a href="#targetca" class="tcaLink">Target.ca</a></li>
            </ul>
        </nav>
        <div id="pushDiv"></div>
        <div id="content">
        <article id="dataviz" class="project">
                <section>
                    <h2>DataViz Prototypes</h2>
                    <div class="slider-controls">
                        <a class="prev" href="#">&laquo; previous</a>
                        <a class="next" href="#">next &raquo;</a>
                    </div>
                    <img src="/images/data-1.jpg" class="projectImage" alt="Screenshot of IBM People Profiles">
                </section>
                <aside>
                    <h3>Details</h3>
                    <strong>Contributions:</strong> consulting, deployment, dev lead
                    <p>
                        Prototypes of different data vizualisations that our team was exploring. These have been published on an internal npm server and are available for IBM to use, along with instructions on how to use them. <strong>Note:</strong> The javascript is hosted behind an IBM firewall.
                    </p>
                    <a href="http://ics-prototype-graphs.mybluemix.net" class="liveLink" target="_blank">view live</a>

                    <div class="code-images">
                        <a href="images/data-2.jpg"><img src="images/data-2.jpg" alt="Screenshot of IBM DataViz"></a>
                        <a href="images/data-3.jpg"><img src="images/data-3.jpg" alt="Screenshot of IBM DataViz"></a>
                        <a href="images/data-1.jpg"><img src="/images/data-1.jpg" class="projectImage" alt="Screenshot of IBM DataViz"></a>
                    </div>
                </aside>
            </article>
        <article id="profiles" class="project">
                <section>
                    <h2>IBM Prople Profiles Prototype</h2>
                    <div class="slider-controls">
                        <a class="prev" href="#">&laquo; previous</a>
                        <a class="next" href="#">next &raquo;</a>
                    </div>
                    <img src="/images/ics-1.jpg" class="projectImage" alt="Screenshot of IBM People Profiles">
                </section>
                <aside>
                    <h3>Details</h3>
                    <strong>Contributions:</strong> angular.js, node.js, scss, gulp.js, deployment, dev lead
                    <p>
                        A quick prototype of a new product from IBM exploring how to work with audience analytics and segmentation.
                    </p>
                    <a href="http://ics-prototype.mybluemix.net" class="liveLink" target="_blank">view live</a>

                    <div class="code-images">
                        <a href="images/ics-2.jpg"><img src="images/ics-2.jpg" alt="Screenshot of IBM People Profiles"></a>
                        <a href="images/ics-3.jpg"><img src="images/ics-3.jpg" alt="Screenshot of IBM People Profiles"></a>
                        <a href="images/ics-4.jpg"><img src="images/ics-4.jpg" alt="Screenshot of IBM People Profiles"></a>
                        <a href="images/ics-1.jpg"><img src="/images/ics-1.jpg" class="projectImage" alt="Screenshot of IBM People Profiles"></a>
                    </div>
                </aside>
            </article>
            <article id="explore" class="project">
                <section>
                    <h2>Explore Target</h2>
                    <div class="slider-controls">
                        <a class="prev" href="#">&laquo; previous</a>
                        <a class="next" href="#">next &raquo;</a>
                    </div>
                    <img src="/images/explore.jpg" class="projectImage" alt="Screenshot of explore.target.com">
                </section>
                <aside>
                    <h3>Details</h3>
                    <strong>Contributions:</strong> backbone.js, node.js, sass, underscore.js, content concepting, sprint planning, team processes
                    <p>
                        A simple thought of &rdquo;How should retail be done online?&ldquo; has evolved into a full blown application and product team that is not only redefining content, but also Target&rsquo;s web presence in the future.
                    </p>

                    <div class="code-images">
                        <a href="images/explore-mobile.jpg"><img src="images/explore-mobile.jpg" alt="explore mobile view"></a>
                        <a href="images/explore-faribault.jpg"><img src="images/explore-faribault.jpg" alt="explore faribault"></a>
                        <a href="images/explore-faribault-mobile.jpg"><img src="/images/explore-faribault-mobile.jpg" alt="explore faribault mobile view"></a>
                        <a href="images/explore.jpg"><img src="/images/explore.jpg" class="projectImage" alt="Screenshot of explore.target.com"></a>
                    </div>
                </aside>
            </article>
            <article id="cartwheel" class="project">
                <section>
                    <h2>Cartwheel</h2>
                    <div class="slider-controls">
                        <a class="prev" href="#">&laquo; previous</a>
                        <a class="next" href="#">next &raquo;</a>
                    </div>
                    <img src="/images/cartwheel.jpg" class="projectImage" alt="Screenshot of cartwheel.target.com">
                </section>
                <aside>
                    <h3>Details</h3>
                    <strong>Contributions:</strong> JSP/JSTL, html, css, javascript, agile methodology, story pointing, task assignment
                    <p>
                        What started as a simple idea to give fans of Target&rsquo;s facebook page discounted prices turned in to one of the most robust customer facing applications in the retail industry. Millions of users later, the project has been a much larger success than we ever imagined.
                    </p>
                    <a href="http://cartwheel.target.com" class="liveLink" target="_blank">view live</a>

                    <div class="code-images">
                        <a href="images/cartwheel-mobile.jpg"><img src="images/cartwheel-mobile.jpg" alt="cartwheel mobile view"></a>
                        <a href="images/cartwheel-baby.jpg"><img src="images/cartwheel-baby.jpg" alt="cartwheel browse"></a>
                        <a href="images/cartwheel-baby-mobile.jpg"><img src="/images/cartwheel-baby-mobile.jpg" alt="cartwheel browse mobile view"></a>
                        <a href="images/cartwheel.jpg"><img src="/images/cartwheel.jpg" class="projectImage" alt="Screenshot of cartwheel.target.com"></a>
                    </div>
                </aside>
            </article>
            <article id="targetca" class="project">
                <section>
                    <h2>Target.ca</h2>
                    <div class="slider-controls">
                        <a class="prev" href="#">&laquo; previous</a>
                        <a class="next" href="#">next &raquo;</a>
                    </div>
                    <img src="/images/targetca.jpg" class="projectImage" alt="Screenshot of www.target.ca">
                </section>
                <aside>
                    <h3>Details</h3>
                    <strong>Contributions:</strong> Custom multi-language framework, akamai integration, server infrastructure, bing api, development infrustracture, javascript, less, php, deployment scripts in capistrano, source control management
                    <p>
                        When Target opened the stores in Canada it was our team that was tasked to design and build the fully-responsive website. I set up the server infrastructure behind a load balancer and set up the main frameworks in php and javascript.
                    </p>

                    <div class="code-images">
                        <a href="images/targetca-mobile.jpg"><img src="images/targetca-mobile.jpg" alt="target.ca mobile view"></a>
                        <a href="images/targetca-sl.jpg"><img src="images/targetca-sl.jpg" alt="target.ca store locator"></a>
                        <a href="images/targetca-sl-mobile.jpg"><img src="/images/targetca-sl-mobile.jpg" alt="target.ca store locator mobile view"></a>
                        <a href="images/targetca.jpg"><img src="/images/targetca.jpg" class="projectImage" alt="Screenshot of www.target.ca"></a>
                    </div>
                </aside>
            </article>
        </div>
        <footer>
            <section id="about">
                <h2>About Alex Carroll</h2>
                <p>Understanding how people interact with electronic interfaces is a passion of mine; from the most mundane to the highly interactive, they all interest me. As a web developer, I draw inspiration from code that is treated equally important as design.</p>
                <p>alexcarroll.mn@gmail.com | +1 (651) 428-5298</p>
        </section>
    </footer>
</div>
<script src="js/application.js" type="text/javascript" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
</body>
</html>
